{% extends 'recycler/recycler_homepage.html' %}
{% block body %}

<form method="post" action="/clean_app/recycler_edit_post/">
    {% csrf_token %}
<table border="1" class="table table-hover table-bordered table-stripped">


<input type="hidden" value="{{ var.id }}" name="id">
    <tr>
        <th>Unit Name</th>
        <td><input type="text" class="form-control" name="name" value="{{ var.unit_name }}"></td>
    </tr>
    <tr>
        <th>Place</th>
        <td><input type="text" class="form-control" name="Place" value="{{ var.place}}"></td>

    </tr>
    <tr>
        <th>Post</th>
        <td><input type="text" class="form-control" name="post" value="{{ var.post }}"></td>

    </tr>
    <tr>
        <th>Pin</th>
                <td><input class="form-control" type="text" name="pin" value="{{ var.pin }}"></td>

    </tr>
    <tr>
        <th>District</th>
        <td><input type="text" class="form-control"  name="district" value="{{ var.district }}"></td>

    </tr>
    <tr>
        <th class="bg-dark text-light">Phone</th>
                <td><input type="text"class="form-control" name="Phone" value="{{ var.phone }}"></td>

    </tr>
    <tr>
        <th>Email</th>
                <td><input type="text" class="form-control"  name="email" value="{{ var.email }}"></td>

    </tr>
<tr>
    <th>   </th>
    <th> <input type="submit" value="Update" class="btn btn-success"></th>
</tr>
</table>


</form>
{% endblock %}