{% extends 'recycler/recycler_homepage.html' %}
{% block body %}

    <form method="post" action="">
    {% csrf_token %}

    <table border="1" class="table table-hover table-bordered table-stripped">
    <tr class="pull-left">
        <td><input type="text" class="form-control" name="searching" placeholder="enter user name"></td>
        <td><input type="submit" value="search" class="btn btn-success"></td>
    </tr>
</table>

<table border="1" class="table table-hover table-bordered table-stripped">
    <tr>
        <th>Sl no</th>

        <th>Date</th>
        <th>Amount</th>
        <th>User Name</th>
        <th>Status</th>
        <th></th>



    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>

        <td>{{ i.date }}</td>
        <td>{{ i.amount }}</td>
        <td>{{ i.USER.name }}</td>
        <td>{{ i.status }}</td>
    <td><a href="/clean_app/recylcer_view_ordersub/{{ i.ORDERMAIN.id }}">More</a> </td>

    </tr>
    {% endfor %}
</table>
    </form>

{% endblock %}