<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/clean_app/view_recycle/">Manage recycle</a>

<a href="/clean_app/waste/">Waste</a>
<a href="/clean_app/view_waste/">View Waste</a>
<a href="/clean_app/admin_change_password/">Change Password</a>
<a href="/clean_app/view_worker/">View Worker</a>
<a href="/clean_app/allocation/">Allocation</a>
<a href="/clean_app/view_user/">View Users</a>
<a href="/clean_app/view_complaint/">View Complaint</a>
<a href="/clean_app/category/">Category</a>
<a href="/clean_app/view_category/">View category</a>
<a href="/clean_app/view_aproved_recycler/">View Aproved Recycler</a>
<a href="/clean_app/view_reject_recycler/">view_reject_recycler Password</a>
<a href="/clean_app/worker_notification/">notification to worker</a>
<a href="/clean_app/admin_view_notification/">View notification</a>
<a href="/clean_app/view_recycle/ ">View recycler</a>
<a href="/clean_app/view_feedback/ ">View Feedback</a>









</body>
</html>