{% extends 'admin/home.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/clean_app/edit_allocation_post/">
    {% csrf_token %}
<table border="1" class="table table-hover table-bordered table-stripped">
<input type="hidden" value="{{ data.id }} " name="id">
<tr>
<th></th>
<th>

     <select name="worker"   class="form-control">
    {% for i in var2 %}
    <option value="{{ i.id }}">{{ i.name }}</option>
    {% endfor %}
</select>
</th>
</tr>
<tr>
<th></th>
<th>
        <input type="text" name="area" class="form-control" value="{{ data.area }}"  placeholder="Allocate Area">

</th>
   </tr>

<tr>
    <th> <th>    <input value="{{ data.date }}" type="date" name="date" placeholder="Allocate Date">
</th></th>





</tr>
<tr>
    <th></th>
    <th>
        <div class="text-dark text-center">
            <input type="submit" value="Submit" class="btn btn-success">
        </div>
    </th>
</tr>
</form>
</table>

</body>
</html>
{% endblock %}