<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="482" border="1">
  <tr>
    <td width="161">Name</td>
    <td width="305">
      <label for="h"></label>
      <input type="text" name="name" id="h" value="{{ var.name }}"/>
    </td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>
      <label for="phone"></label>
      <input type="text" name="phone" id="phone" value="{{ var.phone }}"/>
    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td>
      <label for="email"></label>
      <input type="text" name="email" id="email" value="{{ var.email }}" />
    </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label for="place"></label>
      <input type="text" name="place" id="place" value="{{ var.place }}" />
    </td>
  </tr>
  <tr>
    <td>Pin</td>
    <td>
      <label for="pin"></label>
      <input type="text" name="pin" id="pin"  value="{{ var.pin }}"/>
    </td>
  </tr>
  <tr>
    <td>Post</td>
    <td>
      <label for="post"></label>
      <input type="text" name="post" id="post" value="{{ var.post }}" />
    </td>
  </tr>
  <tr>
    <td>District</td>
    <td>
      <label for="district"></label>
      <input type="text" name="district" id="district" value="{{ var.district }}" />
    </td>
  </tr>


</table>

</body>
</html>